<a href="https://colab.research.google.com/github/alifzuhairi/Recommendation-System/blob/main/Weighted_Average.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("appstore_games.csv")
df.head()

                                                 URL  ...  Current Version Release Date
0   https://apps.apple.com/us/app/sudoku/id284921427  ...                    30/05/2017
1  https://apps.apple.com/us/app/reversi/id284926400  ...                    17/05/2018
2  https://apps.apple.com/us/app/morocco/id284946595  ...                        5/9/17
3  https://apps.apple.com/us/app/sudoku-free/id28...  ...                    30/05/2017
4  https://apps.apple.com/us/app/senet-deluxe/id2...  ...                    22/07/2018

[5 rows x 18 columns]

In [4]:
dffinal = df.drop(columns=['URL', 'Subtitle', 'In-app Purchases','Description','Age Rating','Languages','Size','Primary Genre','Genres','Original Release Date','Current Version Release Date'])

In [5]:
dffinal.head()

          ID           Name  ... Price                 Developer
0  284921427         Sudoku  ...  2.99  Mighty Mighty Good Games
1  284926400        Reversi  ...  1.99          Kiss The Machine
2  284946595        Morocco  ...  0.00               Bayou Games
3  285755462  Sudoku (Free)  ...  0.00  Mighty Mighty Good Games
4  285831220   Senet Deluxe  ...  2.99           RoGame Software

[5 rows x 7 columns]

In [6]:
v=dffinal['User Rating Count'] 
R=dffinal['Average User Rating'] 
C=dffinal['Average User Rating'].mean()
m=dffinal['User Rating Count'].quantile(0.70)

In [8]:
dffinal['weighted_average']=((R*v)+ (C*m))/(v+m)

In [11]:
dffinal.head(5)

          ID           Name  ...                 Developer  weighted_average
0  284921427         Sudoku  ...  Mighty Mighty Good Games          4.003151
1  284926400        Reversi  ...          Kiss The Machine          3.725243
2  284946595        Morocco  ...               Bayou Games          3.023546
3  285755462  Sudoku (Free)  ...  Mighty Mighty Good Games          3.500560
4  285831220   Senet Deluxe  ...           RoGame Software          3.989870

[5 rows x 8 columns]

In [13]:
dfranking=dffinal.sort_values('weighted_average',ascending=False)

In [14]:
dfranking.head(10)

               ID  ... weighted_average
12360  1270598321  ...         4.999525
6031    993492744  ...         4.998981
14022  1375425432  ...         4.998865
8303   1106442030  ...         4.998860
13133  1321606577  ...         4.998788
15125  1438089337  ...         4.998561
10318  1181774280  ...         4.998522
1634    563718995  ...         4.998182
862     466284081  ...         4.998030
16279  1459059300  ...         4.998000

[10 rows x 8 columns]

In [16]:
return dfranking()

SyntaxError: ignored